In [2]:
a=10
if a: 
    print("this is a value of a")

this is a value of a

In [8]:
a = 10
if a < 20:

SyntaxError: unexpected EOF while parsing (<ipython-input-8-5e2b568b56de>, line 2)

In [10]:
a = 10
if a < 20:
print("test")

IndentationError: expected an indented block (<ipython-input-10-78524bac7045>, line 3)

In [11]:
a = 10
if a < 20:
    print("test")

test

In [7]:
a < 20

True

In [12]:
a = 10
if a < 20:
    pass

In [16]:
a = int(input("enter a number: "))
if a <=20:
    print("true")
else:print ('false')

enter a number: 43
false

In [20]:
a = 10
if a > 20:
     print ("this my number")
else:
    print ("print this statement")

print this statement

In [31]:
a = 10
if a > 20:
     print ("this my number")

In [26]:
a = 10
if a > 20:
     print ("this my number")
else:
    print ("print this statement")

print this statement

In [21]:
a = 10
if a > 20:
     print ("this my number")
if a ==10:
    print("this is my alternative statement")
else:
    print ("print this statement")

this is my alternative statement

In [32]:
a = 10
if a > 20:
     print ("this my number")
if a ==10:
    print("this is my alternative statement")
elif a < 20 :
    print("print from elif")
else:
    print ("print this statement")

this is my alternative statement

In [39]:
a = 10
if a > 20:
     print ("this my number")
if a ==30:
    print("this is my alternative statement")
elif a < 20 :
    print("print from elif")
else:
    print ("print this statement")

print from elif

In [37]:
a = 10
if a > 20:
     print ("this my number")
if a ==30:
    print("this is my alternative statement")
elif type (a) == int:
    print(" i am checking a type of var")
elif a < 20 :
    print("print from elif")
else:
    print ("print this statement")

 i am checking a type of var

In [42]:
a = 10
if a ==30:
    print("this is my alternative statement")
elif type (a) == int:
    print(" i am checking a type of var")
elif a < 20 :
    print("print from elif")
else:
    print ("print this statement")

 i am checking a type of var

In [44]:
type (a) == int

True

In [57]:
Discount = int(input())
if Discount == 50:
    print("you can buy all the items listed in row one ")
elif Discount == 30 :
    print("you can buy all the items from row no 2 ")
elif Discount ==20:
    print(" send user to row no 3")
elif Discount > 10:
    print(" send him to 4th row ")
else :
    print("there is no item available")

50
you can buy all the items listed in row one

In [64]:
income = int(input())
if income > 1000:
    print(" you can get a platinum card ")
elif income >800:
    print(" you will be able top get gold card ")
else:
    print(" you won't be able to get any card")

500
 you won't be able to get any card

In [63]:
income = int(input())
if income > 1000:
    print(" you can get a platinum card ")
    if income > 2000:
        print("you will be able to get another facilities ")
    elif income>5000:
        print("you won't be able to get another things ")
    else:
        print(" no option")
elif income >800:
    print(" you will be able top get gold card ")
else:
    print(" you won't be able to get any card")

1500
 you can get a platinum card
 no option

In [68]:
income = int(input())
if income > 1000:
    print(" you can get a platinum card ")
    if income > 2000:
        print("you will be able to get another facilities ")
        if income > 2200 :
            print("you will bw able to get discount in services ")
        elif income >2300:
            print("you will be bale to get air ticket")
        else:    
            print(" there is no option available ")
    elif income <1500:
        print("you won't able to get another things ")
    else:
        print(" no option ")
elif income >800:
    print(" you will be able top get gold card ")
else:
    print(" you won't be able to get any card")

1500
 you can get a platinum card
 no option

In [72]:
val =int(input())
if val ==10 : print ("this is 10")

10
this is 10

In [74]:
l=[2,3,4,5,6,1,2,3,3]
l

[2, 3, 4, 5, 6, 1, 2, 3, 3]

In [75]:
l[::]

[2, 3, 4, 5, 6, 1, 2, 3, 3]

In [76]:
for i in l:

SyntaxError: unexpected EOF while parsing (<ipython-input-76-558be609a732>, line 1)

In [78]:
for i in l:
    pass

In [79]:
for i in l:
    print(i)

2
3
4
5
6
1
2
3
3

In [10]:
l = ["sudh", [1,2,3,4,5] , (2,3,4,5,6) , 56,67, 6+7j, True ,45.67 ,"kumar", "ukashkguhk"]
for i in l :
    print (i)

sudh
[1, 2, 3, 4, 5]
(2, 3, 4, 5, 6)
56
67
(6+7j)
True
45.67
kumar
ukashkguhk

In [14]:
for i in l :
    if type(i) ==str:
        print(i)

sudh
kumar
ukashkguhk

In [5]:
for i in l:
    if type(i) == int:
        print(i)

56
67

In [7]:
for i in l:
    if type(i) == float:
        print(i)

45.67

In [9]:
for i in l:
    if type(i) == complex:
        print(i)

(6+7j)

In [16]:
for n in l:
    if type(n)==list:
        print(n[::-1])

[5, 4, 3, 2, 1]

In [17]:
for n in l:
    if type(n)==tuple:
        print(n[::-1])

(6, 5, 4, 3, 2)

In [18]:
s="sudh kumar"

for i in s:
    print(i)

s
u
d
h

k
u
m
a
r

In [22]:
s="sudh kumar"

for i in s:
    print(i+"1")

s1
u1
d1
h1
 1
k1
u1
m1
a1
r1

In [23]:
t=(3,4,5,6,7)
for i in t:
    print(i)

3
4
5
6
7

In [24]:
t=(3,4,5,6,7)

In [25]:
type(t)

tuple

In [27]:
print(t)

(3, 4, 5, 6, 7)

In [29]:
t

(3, 4, 5, 6, 7)

In [30]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [32]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [36]:
l=["hello",[2,3,3],"str",45.7,45+i,True,(2,3,4)]
for n in l:
    if type(n)==list:
        print(n)

[2, 3, 3]

In [37]:
a=103454
for i in str(a):
    print(i)

1
0
3
4
5
4

In [45]:
li=["hello",[2,3,3],"str",45.7,45+i,True,(2,3,4)]
for i in li:
    if type(i)==list or type(i)==tuple:
        print(i)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [47]:
li= [[1,2,3,4],"jhon",(1,2,3,4),445,44.9,3+5j,True,"smith"]
for i in li:
    if type(i)==list or type(i)== tuple or type(i) ==str:
        print(i)

[1, 2, 3, 4]
jhon
(1, 2, 3, 4)
smith

In [49]:
li= [[1,2,3,4],"jhon",(1,2,3,4),445,44.9,3+5j,True,"smith"]
for i in li:
    if type(i)== bool or type(i)==list or type(i)== tuple or type(i) ==str :
        print(i)

[1, 2, 3, 4]
jhon
(1, 2, 3, 4)
True
smith

In [52]:
li= [[1,2,3,4],"jhon",(1,2,3,4),445,44.9,3+5j,True,"smith"]
for i in li:
    if type(i)==list or type(i)== tuple and type(i) ==str :
        print(i)

[1, 2, 3, 4]

In [53]:
li= [[1,2,3,4],"jhon",(1,2,3,4),445,44.9,3+5j,True,"smith"]
for i in li:
    if type(i)==list and type(i)== tuple and type(i) ==str :
        print(i)

In [62]:
li= [[1,2,3,4],"jhon",(1,2,3,4),445,44.9,3+5j,True,"smith"]
for i in li:
    if type(i)==list and type(i)== tuple and type(i) ==str :
         print(i)
    else :
            print("this is not possible")

this is not possible
this is not possible
this is not possible
this is not possible
this is not possible
this is not possible
this is not possible
this is not possible

In [63]:
li= [[1,2,3,4],"jhon",(1,2,3,4),445,44.9,3+5j,True,"smith"]
for i in li:
    if type(i)==list or type(i)== tuple or type(i) ==str :
         print(i)
    else :
            print("this is not possible")

[1, 2, 3, 4]
jhon
(1, 2, 3, 4)
this is not possible
this is not possible
this is not possible
this is not possible
smith

In [67]:
li= [[1,2,3,4],"jhon",(1,2,3,4),445,44.9,3+5j,True,"smith"]

for i in li :
    print(i)
    if type(i)==list:
        for j in i:
            print(j)

[1, 2, 3, 4]
1
2
3
4
jhon
(1, 2, 3, 4)
445
44.9
(3+5j)
True
smith

In [68]:
li= [[1,2,3,4],"jhon",(1,2,3,4),445,44.9,3+5j,True,"smith"]

for i in li :
    print(i)
    if type(i)==tuple:
        for j in i:
            print(j)

[1, 2, 3, 4]
jhon
(1, 2, 3, 4)
1
2
3
4
445
44.9
(3+5j)
True
smith

In [69]:
li= [[1,2,3,4],"jhon",(1,2,3,4),445,44.9,3+5j,True,"smith"]

for i in li :
    print(i)
    if type(i)==list or  type(i)==tuple:
        for j in i:
            print(j)

[1, 2, 3, 4]
1
2
3
4
jhon
(1, 2, 3, 4)
1
2
3
4
445
44.9
(3+5j)
True
smith

In [74]:
li= [[1,2,3,4],"jhon",(1,2,3,4),445,44.9,3+5j,True,"smith"]

for i in li :
    #print(i)
    if type(i)==list or  type(i)==tuple:
        print(i)
        for j in i:
            print(j)

[1, 2, 3, 4]
1
2
3
4
(1, 2, 3, 4)
1
2
3
4

In [72]:
li= [[1,2,3,4],"jhon",(1,2,3,4),445,44.9,3+5j,True,"smith"]

for i in li :
    #print(i)
    if type(i)==list or  type(i)==tuple:
     
        for j in i:
            print(j)

1
2
3
4
1
2
3
4

In [76]:
n=5
for i in range(n):
    print(i)

0
1
2
3
4

In [77]:
n=5
for i in range(n):
    print(".")

.
.
.
.
.

In [82]:
n=5
for i in range(n):
    for j in range(i+1):
        
        print(".")

.
.
.
.
.
.
.
.
.
.
.
.
.
.
.

In [83]:
n=5
for i in range(n):
    for j in range(i+1):
        
        print(".", end= "")

...............

In [84]:
n=5
for i in range(n):
    for j in range(i+1):
        
        print(".", end= "")
    print("\r")

.
..
...
....
.....

In [85]:
n=5
for i in range(n):
    for j in range(i+1):
        
        print(".", end= "")
    print("")

.
..
...
....
.....

In [87]:
n=int(input())
for i in range(n):
    for j in range(i+1):
        
        print(".", end= "")
    print("")

10
.
..
...
....
.....
......
.......
........
.........
..........

In [92]:
n=int(input())
for i in range(n):
    for j in range(i+1):

        print(".", end= "")
    print(" ")

10
.
..
...
....
.....
......
.......
........
.........
..........

In [93]:
n=int(input())
for i in range(n):
    for j in range(i+1):
        
        print(".")
    print("")

10
.

.
.

.
.
.

.
.
.
.

.
.
.
.
.

.
.
.
.
.
.

.
.
.
.
.
.
.

.
.
.
.
.
.
.
.

.
.
.
.
.
.
.
.
.

.
.
.
.
.
.
.
.
.
.

In [95]:
n=int(input())
for i in range(n):
    for j in range(i+1):
        
        print(".")

10
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.

In [96]:
n=int(input())
for i in range(n):
    for j in range(i+1):

        print(".", end= "_")
    print(" ")

10
._
._._
._._._
._._._._
._._._._._
._._._._._._
._._._._._._._
._._._._._._._._
._._._._._._._._._
._._._._._._._._._._

In [1]:
n=5
for i in range(n):
    print(i)

0
1
2
3
4

In [5]:
n=int(input())
for i in range(n):
    for j in range(i+1):
        
        print(".", end=" ")
    print()

10
.
. .
. . .
. . . .
. . . . .
. . . . . .
. . . . . . .
. . . . . . . .
. . . . . . . . .
. . . . . . . . . .

In [11]:
l=[[1,1,2,2,3,3],[2,4,2,2,5],[1,5,8,8,2]]
for i in l:
    for x in l:
        c=0
        for y in i:
            if type(x==y):
                c=c+1
                if (c>1):
                    print (x, "is repeated", c, "times")

[1, 1, 2, 2, 3, 3] is repeated 2 times
[1, 1, 2, 2, 3, 3] is repeated 3 times
[1, 1, 2, 2, 3, 3] is repeated 4 times
[1, 1, 2, 2, 3, 3] is repeated 5 times
[1, 1, 2, 2, 3, 3] is repeated 6 times
[2, 4, 2, 2, 5] is repeated 2 times
[2, 4, 2, 2, 5] is repeated 3 times
[2, 4, 2, 2, 5] is repeated 4 times
[2, 4, 2, 2, 5] is repeated 5 times
[2, 4, 2, 2, 5] is repeated 6 times
[1, 5, 8, 8, 2] is repeated 2 times
[1, 5, 8, 8, 2] is repeated 3 times
[1, 5, 8, 8, 2] is repeated 4 times
[1, 5, 8, 8, 2] is repeated 5 times
[1, 5, 8, 8, 2] is repeated 6 times
[1, 1, 2, 2, 3, 3] is repeated 2 times
[1, 1, 2, 2, 3, 3] is repeated 3 times
[1, 1, 2, 2, 3, 3] is repeated 4 times
[1, 1, 2, 2, 3, 3] is repeated 5 times
[2, 4, 2, 2, 5] is repeated 2 times
[2, 4, 2, 2, 5] is repeated 3 times
[2, 4, 2, 2, 5] is repeated 4 times
[2, 4, 2, 2, 5] is repeated 5 times
[1, 5, 8, 8, 2] is repeated 2 times
[1, 5, 8, 8, 2] is repeated 3 times
[1, 5, 8, 8, 2] is repeated 4 times
[1, 5, 8, 8, 2] is repeated 5 times
[1, 1, 2, 2, 3, 3] is repeated 2 times
[1, 1, 2, 2, 3, 3] is repeated 3 times
[1, 1, 2, 2, 3, 3] is repeated 4 times
[1, 1, 2, 2, 3, 3] is repeated 5 times
[2, 4, 2, 2, 5] is repeated 2 times
[2, 4, 2, 2, 5] is repeated 3 times
[2, 4, 2, 2, 5] is repeated 4 times
[2, 4, 2, 2, 5] is repeated 5 times
[1, 5, 8, 8, 2] is repeated 2 times
[1, 5, 8, 8, 2] is repeated 3 times
[1, 5, 8, 8, 2] is repeated 4 times
[1, 5, 8, 8, 2] is repeated 5 times

In [28]:
n = int(input())
star =1
space =n-1

for i in range (2*n+1):
    if i<n:
        for j in range(space):
            print ("", end=" ")
        for j in range(star):
                print("*",end=" ")
        space=space-1
        star=star+1
        print()
    elif i==n:
        space= space+1
        star= star-1
    else:
        space =  space + 1
        star= star - 1
        for j in range (space):
            print("",end=" ")
        for j in range (star):
            print("*", end=" ")
            
        print()

7
      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *
 * * * * * *
  * * * * *
   * * * *
    * * *
     * *
      *

In [37]:
l = [[1,1,2,2,3,3],[2,4,2,2,5],[1,5,8,8,2]]
x = []
for i in l:
    if type(i)== list:
        for j in i:
            if j not in x:
                x.appened(j)
                print("the count of ",j," is ",i.count(j))
            else:
                x.appened(j)

AttributeError: 'list' object has no attribute 'appened'